
<div class="slim-description">
    <p>
        This place is all about my thoughts, obsessions and mostly rants.
        Some of these posts got promoted to
        <a
            href="https://dev.to/mrprofessor"
            target="_blank"
            class="brand-icon"
        >
            dev community
        </a>.
        You can reach out to me on
        <a
            class="brand-icon"
            target="_blank"
            href="https://github.com/mrprofessor"
        >
            <i class="fab fa-github"></i>
        </a>,

        <a
            class="brand-icon"
            target="_blank"
            href="https://twitter.com/weary_beard"
        >
            <i class="fab fa-twitter"></i>
        </a>
        and
        <a
            class="brand-icon"
            target="_blank"
            href="https://linkedin.com/in/mrprofessor"
        >
            <i class="fab fa-linkedin"></i>
        </a>
        if you are into that kinda stuff.
    </p>

</div>
