<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Favicon -->
        {{ with .Site.Params.favicon }}<link rel="icon" type="image/png" href="{{ . }}" />{{ end }}

        <title itemprop="name">{{ .Title }} | {{ .Site.Params.description }}</title>
        {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
        {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

        {{ $styles := resources.Get "scss/main.scss" | resources.ToCSS | minify | fingerprint}}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        {{ with .OutputFormats.Get "RSS" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
        {{- end }}

        <!-- Meta tags -->
        {{ partial "meta" . }}

    </head>
    <body>
        <div class="layout">
            {{ partial "header" . }}
            {{ block "main" . }}{{ end }}
            <!-- {{ partial "footer" . }} -->
        </div>
    </body>
</html>
